<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Банк</title>
</head>
<body>
<h1>Главная страница банка</h1>

<h2>Настройки аккаунта</h2>

<div th:if="${userError}" style="color:red;">
    <p th:text="${userError}"></p>
</div>

<div th:if="${currentUser}">
    <p><strong>Логин:</strong> <span th:text="${currentUser.login()}"></span></p>
    <p><strong>Имя:</strong> <span th:text="${currentUser.firstName()}"></span></p>
    <p><strong>Фамилия:</strong> <span th:text="${currentUser.lastName()}"></span></p>
    <p><strong>Email:</strong> <span th:text="${currentUser.email()}"></span></p>
    <p><strong>Дата рождения:</strong> <span th:text="${currentUser.birthDate()}"></span></p>
</div>
<h3>Открыть новый счёт</h3>

<div th:if="${accountError}" style="color:red;">
    <p th:text="${accountError}"></p>
</div>

<form th:action="@{/accounts/create}" th:object="${createAccountForm}" method="post">
    <label>
        Валюта:
        <select th:field="*{currency}">
            <option value="">-- выберите валюту --</option>
            <option value="RUB">RUB</option>
            <option value="USD">USD</option>
            <option value="CNY">CNY</option>
        </select>
    </label>
    <div th:if="${#fields.hasErrors('currency')}" style="color:red;">
        <p th:errors="*{currency}"></p>
    </div>
    <br><br>

    <button type="submit">Открыть счёт</button>
</form>
<h3>Счета пользователя</h3>
<table border="1" cellpadding="8" cellspacing="0" th:if="${accounts}">
    <thead>
    <tr>
<!--        <th>ID счёта</th>-->
        <th>Валюта</th>
        <th>Баланс</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
<!--        <td th:text="${account.id()}"></td>-->
        <td th:text="${account.currency()}"></td>
        <td th:text="${account.balance()}"></td>
    </tr>
    </tbody>
</table>

<h2>Пополнение и снятие</h2>
<div>
    <p>Здесь будет форма для cash-service.</p>
</div>

<h2>Перевод между своими счетами</h2>
<div>
    <p>Здесь будет форма для transfer-service /own.</p>
</div>

<h2>Перевод другому пользователю</h2>
<div>
    <p>Здесь будет форма для transfer-service /other.</p>
</div>

<h2>Курсы валют</h2>

<div th:if="${ratesError}" style="color:red;">
    <p th:text="${ratesError}"></p>
</div>

<table border="1" cellpadding="8" cellspacing="0" th:if="${rates}">
    <thead>
    <tr>
        <th>Валюта</th>
        <th>Покупка</th>
        <th>Продажа</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rate : ${rates}">
        <td th:text="${rate.currency()}"></td>
        <td th:text="${rate.buyRate()}"></td>
        <td th:text="${rate.sellRate()}"></td>
    </tr>
    </tbody>
</table>

<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>
</body>
</html>