<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<h1>Вход</h1>

<div th:if="${param.error}" style="color:red;">
    Неверный логин или пароль
</div>

<div th:if="${param.logout}" style="color:green;">
    Вы вышли из системы
</div>

<form th:action="@{/login}" method="post">
    <label>
        Логин:
        <input type="text" name="username">
    </label>
    <br><br>

    <label>
        Пароль:
        <input type="password" name="password">
    </label>
    <br><br>

    <button type="submit">Войти</button>
</form>

<p><a href="/register">Регистрация</a></p>
</body>
</html>