<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

<div th:if="${errorMessage}" style="color:red; margin-bottom:16px;">
    <p th:text="${errorMessage}"></p>
</div>

<form th:action="@{/register}" th:object="${user}" method="post">
    <label>
        Имя:
        <input type="text" th:field="*{firstName}">
    </label>
    <div th:if="${#fields.hasErrors('firstName')}" style="color:red;">
        <p th:errors="*{firstName}"></p>
    </div>
    <br>

    <label>
        Фамилия:
        <input type="text" th:field="*{lastName}">
    </label>
    <div th:if="${#fields.hasErrors('lastName')}" style="color:red;">
        <p th:errors="*{lastName}"></p>
    </div>
    <br>

    <label>
        Email:
        <input type="email" th:field="*{email}">
    </label>
    <div th:if="${#fields.hasErrors('email')}" style="color:red;">
        <p th:errors="*{email}"></p>
    </div>
    <br>

    <label>
        Дата рождения:
        <input type="date" th:field="*{birthDate}">
    </label>
    <div th:if="${#fields.hasErrors('birthDate')}" style="color:red;">
        <p th:errors="*{birthDate}"></p>
    </div>
    <br>

    <label>
        Логин:
        <input type="text" th:field="*{login}">
    </label>
    <div th:if="${#fields.hasErrors('login')}" style="color:red;">
        <p th:errors="*{login}"></p>
    </div>
    <br>

    <label>
        Пароль:
        <input type="password" th:field="*{password}">
    </label>
    <div th:if="${#fields.hasErrors('password')}" style="color:red;">
        <p th:errors="*{password}"></p>
    </div>
    <br>

    <button type="submit">Зарегистрироваться</button>
</form>

<p><a href="/login">Назад ко входу</a></p>
</body>
</html>