<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

<form>
    <label>
        Имя:
        <input type="text" name="firstName">
    </label>
    <br><br>

    <label>
        Фамилия:
        <input type="text" name="lastName">
    </label>
    <br><br>

    <label>
        Email:
        <input type="email" name="email">
    </label>
    <br><br>

    <label>
        Дата рождения:
        <input type="date" name="birthDate">
    </label>
    <br><br>

    <label>
        Логин:
        <input type="text" name="login">
    </label>
    <br><br>

    <label>
        Пароль:
        <input type="password" name="password">
    </label>
    <br><br>

    <button type="submit">Зарегистрироваться</button>
</form>

<p><a href="/login">Назад ко входу</a></p>
</body>
</html>